@import "~jquery-ui/themes/base/base.css";
@import "~jquery-ui/themes/base/slider.css";
@import "~jquery-ui/themes/base/theme.css";

.range{
  margin: $spacer 0;
}
.ui-slider-handle{
  background-color: $primary !important;
  border: none !important;
}
.ui-widget-header{
  background-color: lighten($primary, 40%);

}
.ui-widget.ui-widget-content{
  border-color: lighten($primary, 30%);
}