.rhombus {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: rotate(45deg);
  box-shadow: 3px 3px 5px #c0c0c0;
  overflow: hidden;
}