.input-custom__label {
  position: absolute;
  left: 0;
  height: $input-custom-height;
  width: 100%;
  color: $gray-700;
  padding: $input-custom-height/4 0;

  line-height: $font-size-base;
  font-size: $font-size-base;

  .input-custom:hover &{
    transition: $input-custom-transition;
  }

  &:before, &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: $input-custom-border-width;
    background-color: $gray-700;
    transition: $transition-base;
  }
  &:before{
    top: 0;
  }
  &:after{
    bottom: 0;
  }
}