.input-custom__input {
  width: 100%;
  padding: $input-custom-height/4 0;
  color: $gray-700;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  &:focus + label > div{
    transform: translateY(-$input-custom-height * 0.8);
    font-size: $font-size-base * 0.8;
  }
  &:focus + label{
    pointer-events: none;
  }
  &:focus + label:before{
    top: -3px;
  }
  &:focus + label:after{
    bottom: -3px;
  }
}