.contacts {
  text-align: center;
  max-width: $contacts-max-width;
  min-width: $contacts-min-width;
  margin: $spacer * 5 auto;
  border: $border-width*2 solid $gray-700;
  border-top: none;
  position: relative;
}