.filter__price-wrap {
  position: relative;

  &:before{
    content: '';
    width: 20px;
    height: $border-width * 2;
    background-color: $primary;
    position: absolute;
    bottom: $spacer * 2;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}