//sizes
$sizes: (
  90: 90%
);

//--form--
$form-min-height: 300px;
$form-min-width: 300px;
$form-max-width: 500px;
//-form-

//--card--
$card-max-width: 300px;

//--contacts--
$contacts-max-width: 800px;
$contacts-min-width: 500px;
$contacts-letter-spacing: 5px;
$contacts-btn-width: 400px;
//-contacts-

//--search--
$search-width: 30px;
$search-height: 30px;
$search-transition: .5s ease;
//-search-

//--input-custom--
$input-custom-width: 200px;
$input-custom-height: 40px;
$input-custom-transition: .5s ease;
$input-custom-border-width: 3px;
//-input-custom-

//--newspaper--
$column-width: 150px;
$column-gap: 50px;
//-newspaper-

//--table-fix--
$table-fix-body-height: 250px;
//-table-fix-

//--adaptive-grid--
$aside-width: 70px;
//-adaptive-grid

//--filter--
$filter-check-size: 15px;
$filter-check-border: 1px solid #c0c0c0;
$filter-check-border-radius: 3px;
//-filter-

//--select-car--
$select-max-width: 250px;
$select-height: 250px;
$select-width: 100%;
//-select-car-

@import "~font-awesome/scss/variables";
@import "~font-awesome/scss/mixins";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$fa-font-path: '~font-awesome/fonts';
$fa-font-name: 'FontAwesome';