.header {
  padding: $spacer * 1.2 0;
  background-color: $gray-700;
  color: $gray-100;
  text-align: center;
  .container{
    border-left: $border-width solid $red;
    border-right: $border-width solid $red;
  }
}