.form-auth_type {
  &_flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .form-auth__wrapper{

    }
  }

  &_position{
    position: relative;

    .form-auth__wrapper{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
    }
  }

  &_table{
    display: table;

    .form-auth__wrapper{
      display: table-cell;
      vertical-align: middle;
      padding: 0 12.5%;
    }
  }

  &_inline{
    white-space: nowrap;
    font-size: 0;
    &:before {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      content: "";
    }
    .form-auth__wrapper{
      white-space: normal;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
    }

  }
}