.filter__label {
  position: relative;
  &:before{
    font-family: $fa-font-name;
    content: '';
    width: $filter-check-size;
    height: $filter-check-size;
    box-shadow: inset 0 0 3px $gray-300;
    border: $filter-check-border;
    border-radius: $filter-check-border-radius;
    position: absolute;
    left: -$filter-check-size * 1.25;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: $filter-check-size;
    text-align: center;
    .filter__check-input:checked ~ & {
      content: $fa-var-check;
      font-size: $font-size-base * 0.8;
      background-color: $custom-checkbox-indicator-indeterminate-bg;
      color: $custom-checkbox-indicator-indeterminate-color;
      transition: $transition-base;
      border-color: darken($custom-checkbox-indicator-indeterminate-bg,3%);
    }
  }
}