.content14__article {
  width: calc(100% - #{$aside-width} - #{$spacer});
  border: $border-width*2 solid $gray-700;
  border-radius: $border-radius;
  float: right;
}

@media screen and (max-width: 600px){
  .content14__article{
    width: 100%;
    float: left;
    margin: 0 0 $spacer*1.5 0;
  }
}