.search__icon {
  width: $search-width;
  height: $search-height;
  background-color: $white;
  cursor: pointer;
  vertical-align: top;
  border-radius: 50%;
  text-align: center;
  line-height: $search-height;

  position: absolute;
  right: 50%;
  margin-right: - $search-width / 2;
  z-index: 10;

  .search:hover &{
    transition: $search-transition;
  }

  &:before{
    content: $fa-var-search;
  }
}