.contacts__button {
  max-width: $contacts-btn-width;
  padding: $spacer * 1.1;
  background-color: $gray-700;
  color: $white;
  margin-bottom: $spacer * 3;
  display: inline-block;
  text-transform: uppercase;
  font-size: $font-size-lg;
  outline: none;
  text-decoration: none;
  letter-spacing: $contacts-letter-spacing;
  &:hover{
    color: $white;
    background-color: $gray-800;
    text-decoration: none;
  }
}