.content14__aside {
  float: left;
  width: $aside-width;
  clear: left;

  border: $border-width*2 solid $gray-700;
  border-radius: $border-radius-lg;
  text-align: center;
  &:first-of-type{
    margin-bottom: $spacer;
  }
}

@media screen and (max-width: 600px) {
  .content14__aside{
    width: 100%;
    &:first-of-type{
      margin-bottom: $spacer * 1.5;
    }
  }
}