.product_type {

  &_fade{
    .product__title{
      &:after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        background: linear-gradient(to top, white , rgba(255, 255, 255, 0.5));
        pointer-events: none;
      }
    }
  }

}