.product__icon {
  float: right;
  cursor: pointer;
  color: $purple;
  &:not(:last-child){
    padding-left: 2px;
  }
  &:hover:before{
    content: $fa-var-star;
  }
  &:hover ~ .product__icon:before{
    content: $fa-var-star;
  }
}