.wrapper__table {
  z-index: 2;
  position: absolute;
  width: 100%;
  top: 0;
  &:first-of-type{
    pointer-events: none;
  }
  &:last-of-type{
    height: $table-fix-body-height;
    overflow-y: auto;
    z-index: 1;

  }
}