.select-car{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: $spacer * 2 ;
  height: $select-height;
  width: $select-width;
  background-color: $gray-600;
  margin: 0 auto;
  .form-control{
    max-width: $select-max-width;

  }
}