.sale__icon {
  width: 130%;
  text-align: center;
  color: $white;
  background-color: $red;
  text-shadow: 0 1px 1px $gray-900;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: rotate(45deg);
  position: relative;
  padding: 2px 0;
  left: 2px;
  bottom: -8px;
  box-shadow: -2px 2px 8px 0px $gray-400;
  z-index: 10;
  &:before, &:after{
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid darkred;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -5px;
    z-index: 9;
  }
  &:before{
    left: 0;
  }
  &:after{
    right: 0;
  }
}