.grid_type {
  &_flex{
    display: flex;
    flex-flow: row wrap;
  }
  &_inline{
    font-size: 0;
    .grid__col{
      display: inline-block;
      float: none;
      vertical-align: top;
      font-size: $font-size-base;
    }
  }
}