.search__input {
  width: $search-width;
  height: $search-height;
  border: none;
  border-radius: $search-height;
  outline: none;

  .search:hover &{
    transition: $search-transition;
  }

  padding-left: $search-width/2;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}