.search__check {
  display: none;

  &:checked + .search__icon{
    right: 0;
    margin-right: 0;
    transition: $search-transition;
    transition-property: right, margin-right;
    will-change: right, margin-right;

    &:before{
      content: $fa-var-close;
    }
  }
  &.first-checked ~ .search__input,
  &:checked ~ .search__input{
    width: 100%;
    border-radius: $border-radius;
    transition: $search-transition;
    transition-property: width, border-radius;
    will-change: left, border-radius;
    padding-right: $search-width;
  }
}
