.form-auth {
  height: $form-min-height;
  background-color: $purple;
  width: 50%;
  min-width: $form-min-width;
  max-width: $form-max-width;
  box-shadow: $box-shadow;
  border-radius: $btn-border-radius;
  margin: $spacer * 2 auto;
  text-align: center;
}