@import "~chosen-js/chosen.css";
.chosen-container-multi {
  & .chosen-choices {
    border-radius: $input-border-radius;
  }
}
.chosen-container-active{
  outline: none;
  box-shadow: none;
  & .chosen-choices{
    box-shadow: $input-btn-focus-box-shadow;
    transition: $transition-base;
    transition-property: box-shadow;
  }
}

