.product {
  padding: $spacer / 2;
  border: $border-width*2 solid $purple;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: $card-max-width;
  margin: $card-spacer-y 0;
  position: relative;
}